@use "mixins" as mixins;
@use "variables" as vars;

:host {
	display: block;
	width: 100%;
}

.permission-requests-page {
	width: 100%;

	@include mixins.page-header();
}

.empty-message {
	padding: vars.$spacing-lg;
	text-align: center;
	color: var(--color-text-secondary);
}

.error-card {
	background-color: var(--color-error-container);
	color: var(--color-on-error-container);
}
