@use "variables" as vars;

:host {
	display: block;
	width: 100%;
}

.users-page {
	width: 100%;
}

.page-content {
	width: 100%;
	min-height: vars.$cls-table-min-height; // Prevent CLS during table load
}
