:host {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.cdn-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	::ng-deep svg {
		width: 100%;
		height: 100%;
		fill: currentColor;
	}
}
