@use "variables" as vars;
@use "mixins" as mixins;

:host {
	@include mixins.flex-fill-column();
	width: 100%;
}

.logs-page {
	@include mixins.flex-fill-column();
	width: 100%;
}

.page-content {
	@include mixins.flex-fill-column();
	width: 100%;
}
