<div class="log-list-filters">
	<mat-form-field appearance="outline" subscriptSizing="dynamic">
		<mat-label>Source</mat-label>
		<mat-select
			value=""
			(valueChange)="onSourceContextChange($event)"
			aria-label="Filter by source context">
			@for (option of sourceContextOptions; track option.value)
			{
				<mat-option [value]="option.value">{{ option.label }}</mat-option>
			}
		</mat-select>
	</mat-form-field>
</div>

<app-data-table
	[columns]="columns"
	[data]="data()"
	[isLoading]="isLoading()"
	[isRefetching]="isFetching()"
	[error]="error()"
	[totalCount]="totalCount()"
	[pageIndex]="pageIndex()"
	[pageSize]="pageSize()"
	[searchable]="true"
	[selectable]="true"
	[showSelectAll]="true"
	[showCreate]="false"
	[showRefresh]="true"
	[quickFilters]="quickFilters"
	[quickFiltersSingleSelection]="true"
	[dateRangeEnabled]="true"
	[defaultDateRange]="'7d'"
	[rowActions]="rowActions"
	[bulkActions]="bulkActions"
	[storageKey]="'log-table-columns'"
	(searchChange)="onSearch($event)"
	(refreshClick)="onRefresh()"
	(filterChange)="onFilterChange($event)"
	(dateRangeChange)="onDateRangeChange($event)"
	(sortChange)="onSortChange($event)"
	(rowClick)="onRowClick($event)"
	(rowAction)="onRowAction($event)"
	(bulkAction)="onBulkAction($event)"
	(pageChange)="onPageChange($event)"
	(pageSizeChange)="onPageSizeChange($event)">
</app-data-table>
