<app-data-table
	[columns]="columns"
	[data]="data()"
	[isLoading]="isLoading()"
	[error]="error()"
	[totalCount]="totalCount()"
	[pageIndex]="pageIndex()"
	[pageSize]="pageSize()"
	[searchable]="true"
	[selectable]="true"
	[showSelectAll]="true"
	[showCreate]="false"
	[showRefresh]="true"
	[quickFilters]="quickFilters"
	[quickFiltersSingleSelection]="true"
	[dateRangeEnabled]="true"
	[rowActions]="rowActions"
	[bulkActions]="bulkActions"
	[storageKey]="'log-table-columns'"
	(searchChange)="onSearch($event)"
	(refreshClick)="onRefresh()"
	(filterChange)="onFilterChange($event)"
	(dateRangeChange)="onDateRangeChange($event)"
	(sortChange)="onSortChange($event)"
	(rowClick)="onRowClick($event)"
	(rowAction)="onRowAction($event)"
	(bulkAction)="onBulkAction($event)"
	(pageChange)="onPageChange($event)"
	(pageSizeChange)="onPageSizeChange($event)">
</app-data-table>
