@use "../../shared/styles/variables" as vars;
@use "../../shared/styles/mixins";

.change-password-container {
	@include mixins.auth-page-container();
}

.change-password-card {
	@include mixins.auth-page-card();

	h1 {
		@include mixins.auth-page-heading();
	}
}

.required-notice {
	background: var(--mat-sys-tertiary-container);
	border-radius: 0.5rem;
	color: var(--mat-sys-on-tertiary-container);
	padding: vars.$spacing-md;
	margin-bottom: vars.$spacing-xl;
	text-align: center;
}

@include mixins.form-field-full-width();

.submit-button {
	width: 100%;
	margin-top: vars.$spacing-lg;
}
