@use "variables" as vars;

.error-trend-chart {
	width: 100%;
	min-height: 400px;

	.loading-container,
	.error-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 400px;
		gap: vars.$spacing-lg;

		p {
			margin: 0;
			color: var(--md-sys-color-on-surface-variant);
		}
	}

	.error-container {
		mat-icon {
			font-size: vars.$icon-size-xl;
			width: vars.$icon-size-xl;
			height: vars.$icon-size-xl;
		}
	}
}
