@use "mixins" as mixins;

.world-map-container {
	@include mixins.feature-placeholder-container();
}

.world-map-card {
	@include mixins.feature-placeholder-card-style(
		$bg: var(--mat-sys-primary-container),
		$text: var(--mat-sys-on-primary-container)
	);
}

.world-map-icon {
	@include mixins.feature-placeholder-icon(var(--mat-sys-primary));
}
