# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = true
end_of_line = lf

[*.{ts,js}]
quote_type = double
ij_typescript_use_double_quotes = true
ij_typescript_use_semicolon_after_statement = true
ij_typescript_spaces_within_braces = true
ij_typescript_space_before_function_left_paren = false

# Requirement 2: Allman-style braces (on new lines)
ij_typescript_method_brace_style = next_line
ij_typescript_brace_style = next_line
ij_typescript_class_brace_style = next_line
ij_typescript_lambda_brace_style = next_line

# Requirement 4: Multi-parameter alignment - ALWAYS wrap, even single params
ij_typescript_call_parameters_wrap = chop_always
ij_typescript_method_parameters_wrap = chop_always
ij_typescript_align_multiline_parameters = false
ij_typescript_align_multiline_parameters_in_calls = false
ij_typescript_call_parameters_lparen_on_next_line = false
ij_typescript_method_parameters_lparen_on_next_line = false

# Requirement 1: Keep closing paren on same line
ij_typescript_call_parameters_rparen_on_next_line = false
ij_typescript_method_parameters_rparen_on_next_line = false

# Requirement 5: Lambda/arrow function formatting - always on new line
ij_typescript_force_quote_style = true
ij_typescript_arrow_function_braces = always
ij_typescript_chained_call_wrap = chop_down_if_long
ij_typescript_call_parameters_new_line_after_left_paren = true

# Object and array formatting
ij_typescript_object_literal_wrap = on_every_item
ij_typescript_array_initializer_wrap = normal

# General formatting
ij_typescript_keep_blank_lines_in_code = 1
ij_typescript_keep_first_column_comment = true
ij_typescript_keep_line_breaks = true
ij_typescript_blank_lines_around_method = 1

[*.md]
max_line_length = off
trim_trailing_whitespace = false
