<app-data-table
	[columns]="columns"
	[data]="data()"
	[totalCount]="totalCount()"
	[pageIndex]="pageIndex()"
	[pageSize]="pageSize()"
	[isLoading]="isLoading()"
	[error]="error()"
	[quickFilters]="quickFilters"
	[rowActions]="rowActions"
	[dateRangeEnabled]="false"
	[storageKey]="'user-table-columns'"
	(searchChange)="onSearch($event)"
	(refreshClick)="onRefresh()"
	(filterChange)="onFilterChange($event)"
	(sortChange)="onSortChange($event)"
	(rowClick)="onRowClick($event)"
	(rowAction)="onRowAction($event)"
	(pageChange)="onPageChange($event)"
	(pageSizeChange)="onPageSizeChange($event)"
/>
