@use "mixins" as mixins;

.rv-camper-container {
	@include mixins.feature-placeholder-container();
}

.rv-camper-card {
	@include mixins.feature-placeholder-card-style(
		$bg: var(--mat-sys-tertiary-container),
		$text: var(--mat-sys-on-tertiary-container)
	);
}

.rv-camper-icon {
	@include mixins.feature-placeholder-icon(var(--mat-sys-tertiary));
}
