@use "variables" as vars;
@use "mixins" as mixins;

// PermissionRequestListPage uses DataTableComponent - all styling handled by data-table component

:host {
	@include mixins.flex-fill-column();
	width: 100%;
}

.permission-requests-page {
	@include mixins.flex-fill-column();
	width: 100%;
}
