@use "variables" as vars;

// PermissionRequestListPage uses DataTableComponent - all styling handled by data-table component

:host {
	display: block;
	width: 100%;
}

.permission-requests-page {
	width: 100%;
}
